/* .card { 
    margin-top: 5px;
}
.card-header{ 
    margin-top: 5px;
    background-color: lightblue;
}
.card-body{
    margin-top: 5px;

} */

body {
    margin: 20px;
  }
  
  .card {
    margin-top: 30px;
  }
  
  header {
    background-color: #c5e6ef;
    background-image: url(https://lh3.ggpht.com/bheuhKKEmExpdeuE0muihqWCzzSXLfHWbBbYl7MfYYzaol3BKLs3MAu61g2ig3cHNh4=s180);
    background-repeat: no-repeat;
    background-position: right;
    height: 200px;
    padding: 40px;
  }
  
  header h1 {
    font-size: 56px;
    font-weight: 300;
  }
  
  form {
    margin-top:50px;
    text-align: right;
  }
  
  form .btn {
    margin-top: 20px;
  }
  
