<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
        <h1>Notes App</h1>
        <p>This is a place where I can store my class notes.</p>
    </header>

    <% for(let i = 0; i < notes.length; i++) { %>
      <div class="card">
        <div class="card-header">
          Note <%= i + 1 %>
        </div>
        <div class="card-body">
          <%= notes[i] %>
        </div>
      </div>
    <% } %>
    <form method="post" action="/notes">
      <input type="text" name="note"></input>
      <input type="submit" value="Save" />
    </form>  
    </body>

</html>